.consultation {
    min-height: 680px;
    padding: 100px 0px 92px 0;
    background: url('../img/bg/second_bg.jpg') center (center/cover) no-repeat;
    &__descr {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
}